* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --bg-light: #ffffff;
    --text-light: #1a1a1a;

    --bg-dark: #1e1e1e;
    --text-dark: #f5f5f5;
}

body.light {
    background-color: var(--bg-light);
    color: var(--text-light);
}

body.dark {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body {
    font-family: poppins;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 13px;
    border: none;
    border-radius: 10px;
    background-color: #999;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}